{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<div style="padding-bottom: 10px;">
    {% if user.is_authenticated %}
    <small> Logged In,<a href="{% url 'HomePage:logout' %}"> click here to log out</a> </small>
    {% else %}
    <small>You are not logged in yet,<a href="{% url 'HomePage:loginpage' %}"> click here to log in</a></small>
    {% endif %}
</div>

<div style="text-align: center; padding: 20px;">
    {% if user.is_authenticated %}
        <h3>Good
        {% now "H" as current_time %}
        {% if current_time|add:"0" >= 18 %}
            evening 
        {% elif current_time|add:"0" >= 12 %}
            afternoon 
        {% else %}
            morning 
        {% endif %}
        {{user.first_name}} {{user.last_name}}</h3>
        <br>
        <p>Log in time at {{ request.session.login_timestamp }}</p>
    {% else %}
    <h3>Good
        {% now "H" as current_time %}
        {% if current_time|add:"0" >= 18 %}
            evening 
        {% elif current_time|add:"0" >= 12 %}
            afternoon 
        {% else %}
            morning 
        {% endif %}
        Random Stranger</h3>
    {% endif %}
</div>


{% endblock %}
